<ion-header> </ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container animate__animated animate__bounceInDown">
    <div class="page-header">
      <h1>Bienvenido</h1>
      <h3>Contrata y ofrece servicios de forma rapida y eficiente.</h3>
    </div>

    <img  src="../../assets/welcome.png" />

    <div class="button-container">
      <ion-button
        expand="block"
        class="main-button"
        routerLink="/login"
        routerDirection="forward"
        >Iniciar Sesión</ion-button
      >
      <ion-button
        expand="block"
        color="dark"
        fill="clear"
        routerLink="/registro"
        routerDirection="forward"
        style="color: white;"
        >Registrarse</ion-button
      >
    </div>
  </div>
</ion-content>
