<ion-header> </ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container animate__animated animate__bounceInDown">
    <div class="page-header">
      <h1>Bienvenido</h1>
      <h3>Vende y compra bienes raices de forma rapida y segura.</h3>
    </div>
    <div class="contenedor-img">
    <img  class='logo' src="../../assets/welcome.png" />
    </div>
    <div class="button-container">
      <ion-button
        expand="block"
        class="main-button"
        routerLink="/login"
        routerDirection="forward"
        >Iniciar Sesión</ion-button
      >
      <ion-button
        expand="block"
        fill="clear"
        routerLink="/registro"
        routerDirection="forward"
        style="color: black ;"
        >Registrarse</ion-button
      >
    </div>
  </div>
</ion-content>
