<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="list-outline" color="dark"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1 class="title">Favoritos</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-1.jpg" />
      <p>$3400.00</p>
      <h6>Casa en la playa</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-2.jpg" />
      <p>$2400.00</p>
      <h6>Casa en Quito</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-3.jpg" />
      <p>$5400.00</p>
      <h6>Terreno en ambato</h6>
    </ion-col>
    
  </ion-row>
</ion-content>
