<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="list-outline" color="dark"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1 class="title">Favoritos</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-1.jpg" />
      <p>$34.00</p>
      <h6>Carpinteria</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-2.jpg" />
      <p>$24.00</p>
      <h6>Mecánica</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-3.jpg" />
      <p>$54.00</p>
      <h6>Creación de apps</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-4.png" />
      <p>$44.00</p>
      <h6>Clases Online</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-5.png" />
      <p>$14.00</p>
      <h6>DirecTV</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-6.jpg" />
      <p>$30.00</p>
      <h6>Curso de belleza</h6>
    </ion-col>
  </ion-row>
</ion-content>
