<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="list-outline" color="dark"></ion-icon>
        </ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="cont">
  <!-- <div class="search ion-padding" >
    <ion-searchbar placeholder="Buscar..."  type="text" (ionChange)="onSearchChange($event)" [debounce]="250" ></ion-searchbar>
  </div> -->

  <div class="title ion-padding">
    <h2>Casas</h2>
    <p>Mirar más</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let casa of casas">
        <ion-col class="ion-text-left" (click)="presentModal(casa)">
          <img src="{{ casa.imagen[0] }}" />
          <p>${{ casa.precio }}</p>
          <h6>{{ casa.titulo }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2>Departamentos</h2>
    <p>Mirar más</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let departamento of departamentos">
        <ion-col class="ion-text-left" (click)="presentModal(departamento)">
          <img src="{{ departamento.imagen[0] }}" />
          <p>${{ departamento.precio }}</p>
          <h6>{{ departamento.titulo }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2>Terrnos</h2>
    <p>Mirar más</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let terreno of terrenos">
        <ion-col class="ion-text-left"  (click)="presentModal(terreno)">
          <img src="{{ terreno.imagen[0] }}" />
          <p>${{ terreno.precio }}</p>
          <h6>{{ terreno.titulo }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
