<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn icon-only"
        (click)="cerrar()"
      >
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider" *ngIf="anuncio.imagen.length!=1">
    <ion-slide *ngFor="let imagen of anuncio.imagen">
      <img [src]="imagen" />
    </ion-slide>
  </ion-slides>
<div style="text-align: center;">
  <img [src]="anuncio.imagen" *ngIf="anuncio.imagen.length===1"/>
</div>
 
  <div class="ion-padding-vertical">
    <h1 class="item-name">{{anuncio.titulo}}</h1>

    <h4 class="price">{{anuncio.precio}}</h4>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">{{anuncio.anio}}</div>

        {{anuncio.estado}}
      </ion-col>
      <ion-col size="6">
        <div class="count" >
          {{anuncio.ciudad}}
        <br>
        {{anuncio.direccion}}
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="description">
    <h5>Descripción</h5>

    <p>
      {{anuncio.descripcion}}
    </p>
  </div>

  <div class="button-container">
    <ion-button
      expand="block"
      class="main-button"
      (click)="presentModal()"
      >Ver en el mapa</ion-button
    >
  </div>
  <div class="seperator">
    <hr />
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="success">
         Contactar
         <ion-icon name="logo-whatsapp" slot="end"></ion-icon>
        </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="medium">
        Favoritos
        <ion-icon name="star-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
